<link rel="stylesheet" href="/css/create-project.css">

<div class="form-container">
  <h1>Create Project</h1>
  <form action="/projects/new" method="POST">
    <label class="label" for="name">Name:</label>
    <input class="input" type="text" id="name" name="name" required><br>

    <label class="label" for="description">Description:</label>
    <textarea class="textarea" id="description" name="description" required></textarea><br>

    <label class="label" for="author">Author:</label>
    <input class="input" type="text" id="author" name="author" required><br>

    <button class="button" type="submit">Create Project</button>
  </form>
</div>