<link rel="stylesheet" href="/css/home.css">

<div class=" container">
  <h1>Projects</h1>
  <ul class="list">
    <% projects.forEach(project => { %>
    <li>
      <a class="list-item" href="/projects/<%= project._id %>"><%= project.name %></a>
    </li>
    <% }) %>
  </ul>
  <a href="/projects/new" class="button">Create a new project</a>
</div>