/* style.css */

/* Footer styles */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer .footbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer .footbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .footer .footbar {
        flex-direction: column;
    }

    .footer .footbar a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
